
.ipynb_checkpoints/t4_all-checkpoint.ipynb
.ipynb_checkpoints/t3q5-checkpoint.ipynb
.ipynb_checkpoints/t4prep-checkpoint.ipynb
.ipynb_checkpoints/t5_all-checkpoint.ipynb
.ipynb_checkpoints/t5q1-checkpoint.ipynb
.ipynb_checkpoints/t5q3-checkpoint.ipynb
.ipynb_checkpoints/t5q5-checkpoint.ipynb
.ipynb_checkpoints/t5q6-checkpoint.ipynb
